{% extends "templates/web.html" %} {% block page_content %}
<div class="col-xs-12 col-md-offset-1 col-md-10 text-center" style="min-height:200px">
{% if message %}
<div class="alert alert-{{ message.class }} alert-dismissible">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <strong>{{ message.title }}</strong> {{ message.msg }}
</div>
{% endif %}
<form id="confirm_form">
    <input name="token" type="hidden" value="{{ token }}">
    <input name="ticket" type="hidden" value="{{ ticket }}">
    <button class="btn btn-success" style="margin-right: 2em" name="confirm" value="Confirm">{{ _("Confirm") }}</button>
    <button class="btn btn-danger" name="confirm" value="Cancel">{{ _("Cancel") }}</button>
</form>
</div>
{% endblock %}

{% block script %}
<script>
    $('#confirm_form button').on('click', function(e) {
        let status = $(this).val()
        // frappe.call({

        // })
        // return false
    })
</script>
{% endblock %}